
/* debug
div{
	border:solid 0.1px blue!important;
}
table{
	border:solid 1px yellow!important;
}
td{
	border:solid 0.1px red!important;
}
*/

#rectimer_block{
	font-size:150%;
}
#voicerec_recording_audio{
	
}